<div class=" text-white">

    <div class="row">
        <h1>Sign Up</h1>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>


            <div class="mx-2">
                <label class="w-100">First Name:
                    <input class="form-control" placeholder="First Name" type="text" formControlName="firstName"
                        required>
                </label>
            </div>
            <div class="mx-2">
                <label class="w-100">Last Name:
                    <input class="form-control" placeholder="Last Name" type="text" formControlName="lastName" required>
                </label>
            </div>



            <div class="mx-2">
                <label class="w-100">Registration Date:
                    <input class="form-control" placeholder="Date" type="date" formControlName="registerDate" required>
                </label>
            </div>



            <div class="mx-2">
                <label class="w-100">Email:
                    <input class="form-control" placeholder="Email" type="email" formControlName="userEmail" required>
                </label>
            </div>

            <p *ngIf="ifEmailExists && submitted" class="text-danger">This email is already associated with a
                registration.</p>

            <div class="mx-2">
                <label class="w-100">Home Province/Territory
                    <select class="form-control" type="text" formControlName="province" required>
                        <option disabled>Pick a Province</option>
                        <option *ngFor="let province of provinces">{{province}}</option>
                    </select>
                </label>
            </div>


        </form>


        <div class="d-flex btn-inline p-3">
            <button [disabled]="!formVerify()" class="btn btn-secondary mx-2" (click)="onSubmit()">Submit</button>
            <button class="btn btn-secondary mx-2" (click)="clearForm()">Clear</button>
        </div>

        <p *ngIf="ifRegisterSuccessful && submitted" class="text-success m-2">Email
            '{{registrationForm.value.userEmail}}' successfully registered.</p>
    </div>
</div>